@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Roboto:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-size: 62.5%;
  padding: 0 0.3rem;
  font-family: Inter, "sans-serif";
  color: rgba(26, 19, 19, 0.776);
  background-color: #f7f7f7;
}
.header {
  padding: 5rem 2rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(177, 172, 172, 0.441),
    #ece9e933
  );
}

.project-cover {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.name {
  font-size: 2rem;
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right bottom,
    #200a0a,
    rgba(233, 226, 226, 0.167)
  );
}
.project-writeup {
  width: 95%;
  margin: 0 auto;
  height: 20rem;
  box-shadow: 0 1rem 2rem 2rem rgba(0, 0, 0, 0.29);
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-header {
  font-size: 2rem;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right bottom,
    #200a0a,
    rgba(233, 226, 226, 0.167)
  );
  display: inline-block;
}
.about {
  font-size: 1.6rem;
  line-height: 1.8;
}

.img-caption {
  position: absolute;
  top: 100%;
  left: 18%;
  z-index: 4;
  font-size: 1.5rem;
  color: #ffefef;
  transition: all 0.3s;
  visibility: hidden;
}
.project-writeup:hover .img-caption {
  transform: translateY(-10rem);
  visibility: visible;
}
.project-writeup:hover .img-cover {
  filter: blur(0.5px) brightness(80%);
}
@media (max-width: 900px) {
  .project-writeup:hover .img-cover {
    filter: none;
  }
  .project-writeup:hover .img-caption {
    visibility: hidden;
  }
}
.projects {
  padding: 5rem 2rem;
}
.projects-header {
  text-align: center;
  margin-bottom: 3rem;
}
.projects-text {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.3s;
  background-image: linear-gradient(
    to right bottom,
    #200a0a,
    rgba(233, 226, 226, 0.167)
  );
}
.projects-text:hover {
  box-shadow: 0 1rem 2rem 0.5rem rgba(0, 0, 0, 0.222);
  transform: translateY(-0.5rem);
}
.row {
  max-width: 140rem;
  margin: 0 auto;
}
.img-cover {
  float: left;
  height: 15rem;
  width: 15rem;
  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  margin: 1rem 1rem;
}
.row::after {
  display: table;
  clear: both;
  content: "";
}
.row [class^="col"] {
  float: left;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
.row [class^="col"]:not(:last-child) {
  margin-right: 5rem;
}
.col-1-of-3 {
  width: calc((100% - 10rem) / 3);
}
.col-1-of-2 {
  width: calc((100% - 5rem) / 2);
}
.projects-items-header {
  height: 23rem;
  width: 100%;
  padding: rem 0.3rem;
  -webkit-perspective: 1000rem;
  position: relative;
  transition: all 1s;
}
@media (max-width: 500px) {
  .projects-items-header {
    opacity: 0;
    transform: translateY(5rem);
  }
  .move {
    opacity: 1;
    transform: translateY(0);
  }
}
.projects-items-header-back {
  transform: rotateY(180deg);
}
.back1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(211, 216, 210, 0.2),
    rgba(201, 209, 206, 0.8)
  );
}
.items-img-cover {
  height: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.front-0 {
  background-image: url(./img/Demo.png);
}
.front-1 {
  background-image: url(./img/pig-game.png);
}
.front-2 {
  background-image: url(./img/Natours.png);
}
.front-3 {
  background-image: url(./img/guess-my-number-game.png);
}
.front-4 {
  background-image: url(./img/adlag-tech.png);
}
.front-5 {
  background-image: url(./img/the-torchbearers.png);
}
.front-6 {
  background-image: url(./img/bbc-players-game.png);
}
.projects-items-header-front,
.projects-items-header-back {
  height: 100%;
  width: 100%;
  overflow: scroll;
  position: absolute;
  backface-visibility: hidden;
  transition: all 1s;
  box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.174);
}
.projects-items-header:hover .projects-items-header-back {
  transform: rotateY(0deg);
}
.projects-items-header:hover .projects-items-header-front {
  transform: rotateY(180deg);
}
.img-item {
  height: 11.7rem;
  background-size: 100%;
}
.items-header {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.items-about {
  font-size: 0.9rem;
  padding: 1rem 1rem;
  line-height: 1.7;
}
.items-text {
  padding: 0.5rem 2rem;
  text-align: center;
}
.visit-cover {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.visit {
  font-weight: 200;
  font-family: lato;
  letter-spacing: 2.5px;
  font-size: 2.5rem;
}
.btn-cover {
  margin-top: 3rem;
}
.btn-link:link,
.btn-link:visited {
  text-decoration: none;
  color: rgba(26, 19, 19, 0.776);
  box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.283);
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-block;
}
.btn-link:hover {
  transform: translateY(-2rem);
}
.btn-link:active {
  transform: translateY(-1rem);
}

/* Media Quries */
@media (max-width: 1200px) {
  html {
    font-size: 65%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 1200px) {
  body {
    padding: 3rem 15rem;
  }
}
@media (max-width: 900px) {
  body {
    padding: 2rem 8rem;
  }
}
@media (max-width: 600px) {
  body {
    padding: 1rem 5rem;
    padding-bottom: 0;
  }
}
@media (max-width: 600px) {
  .row {
    max-width: 35rem;
    margin: 0 auto;
  }

  .row [class^="col"] {
    float: left;
    width: 100% !important;
    margin-bottom: 2rem;
  }
  .row:not(:last-child) {
    margin-bottom: 2rem;
  }
  .row [class^="col"]:not(:last-child) {
    margin-right: 0rem;
  }
}
@media (max-width: 600px) {
  .projects-items-header {
    height: auto;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.174);
    background-color: white;
  }
  .projects-items-header-front,
  .projects-items-header-back {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .items-img-cover {
    height: 17rem;
  }
  .items-text {
    padding: 3rem 2rem;
    text-align: center;
  }
  .items-header {
    font-size: 2rem;
    padding-top: 1rem;
    font-weight: bolder;
  }
  .projects-items-header-back {
    transform: rotateY(0deg);
    padding-bottom: 3rem;
    -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
  }
  .projects-items-header:hover .projects-items-header-back {
    transform: rotate(0deg);
  }
  .projects-items-header:hover .projects-items-header-front {
    transform: rotate(0deg);
  }
}
@media (max-width: 500px) {
  .project-writeup {
    position: relative;
    height: 50%;
    padding: 0 1rem;
  }

  .img-cover,
  .about {
    display: block;
  }
  .img-cover {
    float: left;
    height: 15rem;
    width: 15rem;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    margin: 1rem 1rem;
  }
}
.footer {
  padding: 5rem 8rem;
  background-color: #333;
  color: #f7f7f7;
}
@media (max-width: 37.5em) {
  .footer {
    padding: 3rem;
  }
}
.contactUs__listContainer {
  list-style: none;
  justify-content: space-between;
  display: flex;
}
.contactUS__listContainer--items {
  display: inline-block;
  text-transform: capitalize;
  font-size: 0.7rem;
  text-align: center;
  background-color: #333;
  backface-visibility: hidden;
  transition: all 0.3s;
}

.contactUS__listContainer--items:not(:first-child) {
  margin-left: 4rem;
}
.contactUS {
  border-top: 2px solid rgba(255, 255, 255, 0.482);
  width: 100%;
  padding-top: 0.5rem;
}
.link-profile:link,
.link-profile:visited {
  text-decoration: none;
  color: #f7f7f7;
  display: inline-block;
}
.link-profile:link:hover,
.span:hover {
  transform: scale(1.2) skewY(7deg);
  color: forestgreen !important;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.338);
}
.home-profile {
  text-align: center;
}
.span {
  font-weight: bolder;
  font-size: 1rem;
  display: inline-block;
}
@media (max-width: 600px) {
  .img-profile {
    height: 10rem;
    width: 10rem;
  }
}
@media (max-width: 900px) {
  .img-profile {
    height: 15rem;
    width: 15rem;
  }
}
