body{
    font-family: 'Montserrat', sans-serif;
}
.img1 {
    max-width: -webkit-fill-available;
}
#one{
    list-style: none;
    float: left;
    padding: 20px;
    margin: 20px;
    display: flex;
    border-style: solid;
    border-right:0px ;
    border-left: 0px; 
    max-width: fit-content;  
}

.sec2 {
    display: flow-root;   
    ; 
}
li{
    padding: 2px;

}
.first_button{
    background-color:#4285f4;
    font-style:normal;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-style: solid;
    margin: 40px;
    border-width:thin;
    
}


.wrapper1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
}
.wrapper2{
    display:grid;
    align-items: center;
    justify-content: center;
}
.sec4{
    padding: 10px;
    border-style: solid;
    height:50px;
    border-left: 0px;
    border-right: 0px;
    border-width: thin;
    width: 1150px;
    color: blue;
    border-color: dimgrey;
}
.wrapper3{
    margin: 40px;
    display: flex;

}
.img3{
    width: 200px;
    height: 150px;
    margin: 10px;
    
}
p{
    justify-content: center;
    padding: 10px;
}
.wrapper_header{
    margin: 40px;
    margin-top: 100px;
    margin-right: 70px;
}
.sec5{
    padding: 10px;
}
.para{
    margin: 40px;
}
.img4{
    width: 350px;
    height:200px

}
.inner_header{
    padding-right :80px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.wrapper4{
    display: flex;
    margin: 40px;
}
.img5{
    width:500px;
    height:500px
}
span{
    font-weight: bold;
}
#topmost{
    justify-content: center;
}
body{
    background-color:white;
}
.img7{
    width: 400px;
    height: 100px;
    margin: 40px;
}
.par{
    font-size: 20px;
    margin-left: 40px;
}